# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environments
.env
.venv
env/
venv/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints

# Data
data/
*.csv
*.npz

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/
